{% extends "user/index.html" %}

{% block head %}
  {% autoescape false %}
  <!-- Load jQuery and the validate plugin -->
  <meta charset="utf-8">
  <script src="{{ host }}/public/js/jquery1.9.1.js"></script>
  <script src="{{ host }}/public/js/jquery_validate.js"></script>
  <!-- jQuery Form Validation code -->
  
  {% endautoescape %}

  <script>
  // When the browser is ready...
  $(function() {
  
    // Setup form validation on the #register-form element
    $("#reset-form").validate({
    
        // Specify the validation rules
        rules: {
            password: {
                required: true,
                minlength: 6
            },

        },
        
        // Specify the validation error messages
        messages: {
            password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 6 characters long"
            },
        },      
        submitHandler: function(form) {
            form.submit();
        }
    });
  });
  
  </script>
{% endblock %}

{% block content %}
<form action="{{ host }}/resetuser/changePass" method="post" id="reset-form" novalidate="novalidate">
  <div class="error">
  </div>
    <div class="label">Enter new Password</div><input type="password" id="password" name="password" /><br />

    <div ><input type="submit" name="submit" value="Submit" /></div>
    
</form>

{% endblock %}